{% extends "views/components/cards/default.htm" %}
{% load i18n %}

{% block form_header %}
    {{ block.super }}
    <div class="address-card-map" data-bind="mapboxgl: {
        mapOptions: {
            style: 'mapbox://styles/mapbox/streets-v9'
        },
        afterRender: setupMap
    }"></div>
{% endblock form_header %}

{% block config %}
<div class="node-config-item">
    <div class="control-label">
        {% trans "Icon" %}
    </div>
    <div>
        <input style="padding-bottom: 5px;" data-bind="select2Query: {
            select2Config: {
                value: icon,
                data: {
                    results: [{
                        text: 'Star',
                        id: 'star-15'
                    }, {
                        text: 'Circle',
                        id: 'circle-15'
                    }, {
                        text: 'Triangle',
                        id: 'triangle-15'
                    }]
                }
            }
        }">
    </div>
</div>
{% endblock config %}
